@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.lato{
    font-family: "Lato", sans-serif;
  }

.poppins{
    font-family: "Poppins", sans-serif;
  }

  ::-webkit-scrollbar
  {
    display: none;
  }